html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}
.nav-bar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 55px;
    display: flex;
}
.bookmyshow-img{
    height: 40px;
    width: 140px;
    margin-left:140px ;
    margin-top: 7.5px;
}
.search-container{
    margin-left: 1%;
}
.search-container button {
       padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 600px;
  }

#location-dropdown{
    height: 38px;
    border:none;
    padding: 6px;
    margin-top: 8px;
    margin-left: 440px;
}
#toggler-icon{

    margin-right: 10%;
    padding: 6px;
    margin-top: 8px;
}

@media screen and  (max-width: 768px) {
  .nav-bar {
      justify-content: space-between; /* Align items with equal space between */
  }

  .bookmyshow-img {
      margin-left: 1%; /* Adjust for smaller screens */
      height: 30px;
      width: 100px;

  }

  .search-container {
      margin-left: 1%;
  }

  .search-container input[type=text] {
      width: 70%; /* Adjust for smaller screens */
      max-width: 250px; /* Limit maximum width */
  }

  #location-dropdown {
      margin-left: 5%; /* Adjust for smaller screens */
  }

  #toggler-icon {
      display: none;
  }
}
@media  screen and  (max-width: 520px) {
  

  .bookmyshow-img {
       /* Adjust for smaller screens */
      height: 30px;
      width: 80px;

  }

 

  .search-container input[type=text] {
      width: 70%; /* Adjust for smaller screens */
      max-width: 100px; /* Limit maximum width */
  }

  #location-dropdown {
     display: none;
  }

  #toggler-icon {
      display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bookmyshow-img {
      margin-left: 4%; /* Adjust for medium screens */
  }

  .search-container input[type=text] {
      width: 60%; /* Adjust for medium screens */
      max-width: 350px; /* Limit maximum width */
  }

  #location-dropdown {
      margin-left: 15%; /* Adjust for medium screens */
  }

  #toggler-icon {
      margin-right: 5%; /* Adjust for medium screens */
  }
}
@media screen and (min-width: 1024px) {
  .bookmyshow-img {
      margin-left: 10%; /* Adjust for larger screens */
  }

  .search-container input[type=text] {
    
      max-width: 400px; /* Limit maximum width */
  }

  #location-dropdown {
      margin-left: 25%; /* Adjust for larger screens */
  }

  #toggler-icon {
      margin-right: 0%; /* Adjust for larger screens */
  }
}


/* @media screen and (min-width: 700px) and (max-width:1238px) {
  .nav-bar{
    width: 100%;
    background-color: aqua;
    height: 55px;
    display: flex;
}
.bookmyshow-img{
    height: 40px;
    width: 140px;
    margin-left:0px ;
    margin-top: 7.5px;
}
.search-container{
    margin-left: 1%;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 400px;
  }

#location-dropdown{
    height: 38px;
    border:none;
    padding: 6px;
    margin-top: 8px;
    margin-left: 10%;
}
#toggler-icon{

    margin-right: 10%;
    padding: 6px;
    margin-top: 8px;
}
}
@media screen and (min-width: 1024px) {
  /* Styles for screens larger than 1024px 
  .nav-bar{
    width: 100%;
    background-color: aqua;
    height: 55px;
    display: flex;
}
.bookmyshow-img{
    height: 40px;
    width: 140px;
    margin-left:0px ;
    margin-top: 7.5px;
}
.search-container{
    margin-left: 1%;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 400px;
  }

#location-dropdown{
    height: 38px;
    border:none;
    padding: 6px;
    margin-top: 8px;
    margin-left: 10%;
}
#toggler-icon{

    margin-right: 10%;
    padding: 6px;
    margin-top: 8px;
}
}
@media screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px 
   .nav-bar{
    width: 100%;
    background-color: aqua;
    height: 55px;
    display: flex;
}
.bookmyshow-img{
    height: 40px;
    width: 140px;
    margin-left:0px ;
    margin-top: 7.5px;
}
.search-container{
    margin-left: 1%;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 400px;
  }

#location-dropdown{
    
    margin-left: 10px;
}
#toggler-icon{

    margin-right: 10%;
    padding: 6px;
    margin-top: 8px;
}
}
/* @media only screen and (max-width:800px) {
    .bookmyshow-img{
        margin-left: 0px;
    }
    .search-container input[type=text] {
       
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 200px;
      }
      #location-dropdown{
        margin-left: 10px;
      }
    
} */
/* @media only screen and (max-width:540px){
    .bookmyshow-img{
        display: none;
    }
    .search-container input[type=text] {
       
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 200px;
      }
      .search-container{
        margin-left: 0px;
      }
    #toggler-icon{
        display: none;
    }
    #location-dropdown{
        margin-left: 0px;
    }
    .search-container button {
       
        padding: 6px 10px;
        margin-top: 8px;
        margin-left: 0px !important;
        background: #ddd;
        font-size: 12px;
        border: 1px solid rgb(255, 255, 255);
        cursor: pointer;
      }
}

@media only screen and (max-width:270px){
    .search-container input[type=text] {
       
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 110px;
      }
} */ 

.parent_div{
  height: 390px;
  width: 100%;
  background-color: rgb(39, 36, 36);
  padding: 2%;
  display: flex;
  
}
.child_div1{
  
 margin-left: 10%;
  height:100%;
  width: 16%;
  background-color: rgb(0, 0, 0);
}
.child_div1 img{
  height: 93%;
  width: 100%;


}
.child_div2{

  margin-left: 3%;
  height:100%;
  width: fit-content;
 

}
.child_div2 h1{
  font-family: sans-serif;
  color: white;
  font-size: 40px;
}
.child_div2-p {
  color: white;
  font-size: 30px;
  
}
.child_div2-p-span{
 font-weight: 100 !important;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}
.ratings{

  height: 76px;
  padding: 2px;
  width: 350px;
  display: flex;
  border-radius: 7px;
  background-color: #3c3b3b;
}
.ratings p{
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}
.ratenow{
  border: #ddd;
  color:black;
  height: 40px;
  width: 100px;
  font-size: 20px;
  padding: 2px;
  border-radius: 4px;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 4px;
}
.lang{
  margin-top: 18px;
}
.lang button{
  font-family: sans-serif;
  font-size: 16px;
}
.timing{
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}
.book-tickets{
  border: 1px rgb(228, 75, 75);
  font-size: 16px;
  height: 45px;
  width:220px;
  border-radius: 10px;
  font-family: sans-serif;
  color: white;
  background-color: rgb(228, 75, 75);
  cursor: pointer;
}
.child_div{
  height: 4%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#images{
  border-radius: 10px;
}
.imgdiv{
  height: 340px;
  background-color: rgb(231, 230, 230);
}
.cart{
  height: auto ;
}
#cartitems{
  display: flex;
  height: auto;
  
}
.card-title{
  font-size: 18px;
}
button{
  cursor: pointer;
}
#Footer{
  height: 300px;
  /* border: 1px solid black; */
}
#listshow{
  height: 80px;
  display: flex;
  /* border: 1px solid black; */
  background-color: rgb(45, 39, 39);
}
#listshow>h6,p{
  color: white;
}
#listshow>button{
  float: right;
  height: 45px;
  width: 150px;
  color: white;
  border-radius: 5px;
  border: 1px rgb(241, 78, 78);
  background-color: rgb(241, 78, 78);
}
.but{
  float: right;
}
#msg{
  height: 220px;
  background-color: rgb(53, 52, 52);
}
.show{
  display: flex;
}
.line{
  height: 0.5px;
  
  /* background-color: white; */
  border: 1px solid rgb(93, 92, 92);
}
#icons{
  display: flex;
  justify-content:center;
}
.icons{
  height: 60px;
  /* width: 00px; */
  display: flex;
  /* justify-content:right; */
  /* background-color: white; */
}
.item{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content:center;
  background-color: rgb(93, 92, 92);
}
.matter{
  display: flex;
  justify-content:center;
  font-size:10px;
  color: rgb(93, 92, 92);
}
.mat{
  /* background-color: white; */
  width: 80%;
  justify-content:center;
  color: rgb(93, 92, 92);
}
.mat>p{
  color: rgb(137, 135, 135);
}
@media screen and (max-width: 900px){
  #listshow{
      display: none;
  }
  #Footer{
      height: 200px;
      /* border: 1px solid black; */
  }
}
@media screen and (max-width: 600px){
  #Footer{
      display: none;
  }
}

@media screen and (max-width: 1100px){
  .imgdiv{
      height: 280px;
      background-color: white;
  }
  .cart{
      height: auto ;
      overflow-x: auto;
      position: relative;
      scroll-behavior: smooth;
  }
  .cart::-webkit-scrollbar{
      width:0;
  }
  .cartitems{
      min-width: 22%;
      overflow-x: hidden;
      overflow-y: hidden;
  }
}

@media screen and (max-width: 768px){
  .imgdiv{
      height: 180px;
      background-color: white;
  }
}
@media screen and (max-width: 576px){
  .imgdiv{
      height: 140px;
      background-color: white;
  }
}
@media screen and (max-width: 350px){
  .imgdiv{
      height: 100px;
      background-color: white;
  }
}

